# Ogólne pliki i katalogi
node_modules/
.env
.env.local
.env.production
.env.development
.dockerignore
Dockerfile
*.md
.git/
.gitignore
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Specyficzne dla Node.js / frontendu
build/
src/
public/
*.test.js
*.spec.js
coverage/
*.map
*.ts.map
*.tsx.map
CI/
CD/

# Specyficzne dla Pythona / back-endu
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
db.sqlite3
*.sqlite
instance/
.webassets-cache
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/
docs/_build/
.venv/
venv/
ENV/
env/
*.egg-info/
dist/
cache/
*.log
development/
migrations/

# Specyficzne dla dokumentacji i narzędzi
README.md
LICENSE
docs/
*.docx
*.pdf
*.pptx
