# Zależności
/node_modules/
/venv/
/env/

# Pliki środowiskowe
.env
.env.local

# Przykładowe pliki konfiguracyjne
!env.example

# Katalogi budowy/dist
/dist
/build

# Katalogi cache
/.cache
/.parcel-cache

# Pliki kompilacji TypeScript
*.tsbuildinfo

# Pliki systemowe
.DS_Store
Thumbs.db

# Pliki specyficzne dla edytorów
.vscode/
.idea/

# Pliki i katalogi specyficzne dla Pythona
/__pycache__/
*.py[cod]

# Pliki logów
*.log