@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}


.floating {
  animation: float 6s ease-in-out infinite;
}

.quoteHighlight {
  padding: 20px;
  border: 1px solid rgb(16 185 129);
  border-radius: 10px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}
